site_name: AI Daily Researcher
theme:
  name: material
  features:
    - navigation.sections
    - navigation.indexes

plugins:
  - search

site_url: https://steve-dickinson.github.io/ai-daily-researcher/

nav:
  - Home: index.md
  - Blog: blog/index.md

